<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crystal.scrumify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_proactive"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_proactive"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AuthActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.KanbanActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- File Provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="crystal.scrumify.pdf.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.CommentActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".activities.BurndownChartActivity" />

        <receiver
            android:name=".receivers.BurndownChartReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.InviteMemberActivity" />
        <activity android:name=".activities.RecordActivity" />
        <activity android:name=".activities.LocationActivity"></activity>
    </application>

</manifest>